# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
jl.iml
jl-manage/target
jl-common/target
jl-web/target